
		body{
			margin: 0;
			padding: 0;
		}
		ul{
			margin:0;
		}
		.list-nav{
			list-style-type: none;
			text-align: center;
			padding: 1em;
			background-color: #000000;
		}
		.list-nav li{
			display: inline;
			padding: 3em;
			font-weight: 800;
		}
		.list-nav a{
			text-decoration: none;
			color: #fff;
			text-transform: uppercase;
		}
		a:hover{
			text-decoration: underline;
			color: #886451;
		}
		.container-1{
			max-width: 500px;
			text-align: center;
			margin: 0 auto;
			padding: 50px 0;
		}
		.container-2 h2{
		    text-transform: capitalize;
		    margin: 20px 0;
		}
		.container-4 li{
			display: inline;
			padding: 1em;
		}
		.image-test{
			height: 300px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			margin-top:1em;
			color: #fff;
			padding: 100px 0 50px 0;
			font-weight: 800;
			text-transform: uppercase;
		}
